[Desktop Entry]
Name=Maximum-Q
Name[en_US]=Maximum-Q
Name[pt_BR]=Maximum-Q
Name[pt_PT]=Maximum-Q
Name[es]=Maximum-Q

Comment=Graphics settings, hardware usage and more
Comment[en_US]=Graphics settings, hardware usage and more
Comment[pt_BR]=Configurações gráficas, uso do hardware e mais
Comment[pt_PT]=Configurações gráficas, uso do hardware e mais
Comment[es]=Configuración de gráficos, uso de hardware y más

GenericName=Graphics settings, hardware usage and more
GenericName[en_US]=Graphics settings, hardware usage and more
GenericName[pt_BR]=Configurações gráficas, uso do hardware e mais
GenericName[pt_PT]=Configurações gráficas, uso do hardware e mais
GenericName[es]=Configuración de gráficos, uso de hardware y más

Exec=bash -x prime-settings
Icon=Max-q
Categories=Settings;
MimeType=
Path=
StartupNotify=true
StartupWMClass=Maximum-Q
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-Protocols=skype
X-KDE-SubstituteUID=false
X-KDE-Username=
