/* switch bottom css */
/* buttom-on */
.switch--shadow-all-apps + label {
	top: -22px;
	right: -15px;
	padding: 2px;
	width: 31px;
	height: 10px;
	background-color: #2e3539;
	border-radius: 60px;
}
.switch--shadow-all-apps + label:before,
.switch--shadow-all-apps + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
.switch--shadow-all-apps + label:before {
	right: 1px;
	background-color: #ddd;
	border-radius: 60px;
	transition: all 0.3s;
}
.switch--shadow-all-apps + label:after {
	top: -1px;
	left: 0px;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}
.switch--shadow-all-apps:checked + label:before {
	background-color: #0085e4;
}
.switch--shadow-all-apps:checked + label:after {
	transform: translateX(19px);
}

/* buttom-off */
.switch--shadow2-all-apps + label {
	top: -22px;
	right: -15px;
	padding: 2px;
	width: 31px;
	height: 10px;
	background-color: #2e3539;
	border-radius: 60px;
}
.switch--shadow2-all-apps + label:before,
.switch--shadow2-all-apps + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
.switch--shadow2-all-apps + label:before {
	right: 1px;
	background-color: #ddd;
	border-radius: 60px;
	transition: all 0.3s;
}
.switch--shadow2-all-apps + label:after {
	top: -1px;
	left: 0px;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}
.switch--shadow2-all-apps:checked + label:before {
	background-color: #0085e4;
}
.switch--shadow2-all-apps:checked + label:after {
	transform: translateX(19px);
}
