/* reverse prime bottom css */
/* reverse-prime */
/* on */
.switch--shadow-reverse-prime+label {
	top: -18px;
	right: -8px;
	padding: 2px;
	width: 31px;
	height: 10px;
	background-color: #2e3539;
	border-radius: 60px;
}

.switch--shadow-reverse-prime+label:before,
.switch--shadow-reverse-prime+label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

.switch--shadow-reverse-prime+label:before {
	right: 1px;
	background-color: #3daee9;
	border-radius: 60px;
	transition: all 0.3s;
}

.switch--shadow-reverse-prime+label:after {
	top: -1px;
	left: 20px;
	width: 16px;
	height: 16px;
	background-color: #eff0f1;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}

.switch--shadow-reverse-prime:checked+label:before {
	background-color: #9f9f9f;
}

.switch--shadow-reverse-prime:checked+label:after {
	transform: translateX(-20px);
}

/* off */
.switch--shadow2-reverse-prime+label {
	top: -18px;
	right: -8px;
	padding: 2px;
	width: 31px;
	height: 10px;
	background-color: #2e3539;
	border-radius: 60px;
}

.switch--shadow2-reverse-prime+label:before,
.switch--shadow2-reverse-prime+label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

.switch--shadow2-reverse-prime+label:before {
	right: 1px;
	background-color: #9f9f9f;
	border-radius: 60px;
	transition: all 0.3s;
}

.switch--shadow2-reverse-prime+label:after {
	top: -1px;
	left: 0px;
	width: 16px;
	height: 16px;
	background-color: #eff0f1;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}

.switch--shadow2-reverse-prime:checked+label:before {
	background-color: #3daee9;
}

.switch--shadow2-reverse-prime:checked+label:after {
	transform: translateX(20px);
}

/* reverse-prime-on/off text */
.reverse-prime-on,
.reverse-prime-off,
.render-igpu-desc,
.render-dgpu-desc {
	position: absolute;
	top: 40px;
	left: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #eff0f1;
	margin-top: 3px;
}

/* select CPU governor */
#cpugovernor1 {
	display: none;
	position: absolute;
	background-color: #4e555c;
	border: 1px solid #4e555c;
	color: #fff;
	margin-top: 10px;
	right: 20px;
	top: 6px;
	padding-left: 2px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

#cpugovernor2 {
	display: none;
	position: absolute;
	background-color: #4e555c;
	border: 1px solid #4e555c;
	color: #fff;
	margin-top: 10px;
	right: 20px;
	top: 6px;
	padding-left: 2px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

/* select GPU */
#selectnav1 {
	display: none;
	position: absolute;
	background-color: #4e555c;
	border: 1px solid #4e555c;
	color: #fff;
	margin-top: 10px;
	right: 20px;
	top: 6px;
	padding-left: 2px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

#selectnav2 {
	display: none;
	position: absolute;
	background-color: #4e555c;
	border: 1px solid #4e555c;
	color: #fff;
	margin-top: 10px;
	right: 20px;
	top: 6px;
	padding-left: 2px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

select.selectnav {
	border-radius: 4px;
	font-size: 15px;
	font-weight: 400;
	font-family: Roboto, sans-serif;
	cursor: pointer;
	height: 30px;
}

select.selectnav-cpu {
	display: none;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 400;
	font-family: Roboto, sans-serif;
	cursor: pointer;
	height: 30px;
}

li#selecte-gpu {
	display: none;
}

/* freesync bottom css */
/* freesync */
/* on */
.switch--shadow-freesync+label {
	top: -18px;
	right: -8px;
	padding: 2px;
	width: 31px;
	height: 10px;
	background-color: #2e3539;
	border-radius: 60px;
}

.switch--shadow-freesync+label:before,
.switch--shadow-freesync+label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

.switch--shadow-freesync+label:before {
	right: 1px;
	background-color: #3daee9;
	border-radius: 60px;
	transition: all 0.3s;
}

.switch--shadow-freesync+label:after {
	top: -1px;
	left: 20px;
	width: 16px;
	height: 16px;
	background-color: #eff0f1;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}

.switch--shadow-freesync:checked+label:before {
	background-color: #9f9f9f;
}

.switch--shadow-freesync:checked+label:after {
	transform: translateX(-20px);
}

/* off */
.switch--shadow2-freesync+label {
	top: -18px;
	right: -8px;
	padding: 2px;
	width: 31px;
	height: 10px;
	background-color: #2e3539;
	border-radius: 60px;
}

.switch--shadow2-freesync+label:before,
.switch--shadow2-freesync+label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

.switch--shadow2-freesync+label:before {
	right: 1px;
	background-color: #9f9f9f;
	border-radius: 60px;
	transition: all 0.3s;
}

.switch--shadow2-freesync+label:after {
	top: -1px;
	left: 0px;
	width: 16px;
	height: 16px;
	background-color: #eff0f1;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}

.switch--shadow2-freesync:checked+label:before {
	background-color: #3daee9;
}

.switch--shadow2-freesync:checked+label:after {
	transform: translateX(20px);
}

/* freesync-on/off text */
.freesync-on,
.freesync-off {
	display: none;
	position: relative;
	float: left;
	font-size: 14px;
	font-weight: 500;
	color: #eff0f1;
	margin-top: 3px;
}

/* run dGPU test */
.test-dgpu {
	width: 140px;
	height: 20px;
	cursor: pointer;
	border-radius: 8px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

li.button-gl {
	background-color: #35567b;
	background-position: center;
	border: 1px solid #5cabf7;
	transition: all .4s ease-in-out;
	margin-right: 5px !important;
}

li.button-gl:hover {
	background: rgb(42 69 99) radial-gradient(circle, transparent 1%, rgb(42 69 99) 1%) center/15000%;
	border-color: rgb(44 117 187);
}

li.button-gl:active {
	background-color: #5cabf7;
	background-size: 100%;
	transition: all 0s;
	border: 1px solid #5cabf7;
}

li.button-vk {
	background-color: #35567b;
	background-position: center;
	border: 1px solid #5cabf7;
	transition: all .4s ease-in-out;
	margin-right: 0px !important;
	margin-left: 5px !important;
}

li.button-vk:hover {
	background: rgb(42 69 99) radial-gradient(circle, transparent 1%, rgb(42 69 99) 1%) center/15000%;
	border-color: rgb(44 117 187);
}

li.button-vk:active {
	background-color: #5cabf7;
	background-size: 100%;
	transition: all 0s;
	border: 1px solid #5cabf7;
}

.test-dgpu:active {
	background: #373e46;
	box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
	transition: all .2s;
}

.div-test {
	text-align: center;
	margin: auto;
	width: 355px;
	height: 50px;
	margin-top: 30px;
}

.div-test ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#box-pop-up ul {
	margin: auto;
}

/* KWin compositor */
#compositor2 {
	display: none;
}

#compositor-off {
	display: none;
}

/* Unlock widgets */
#unlockwidgets2 {
	display: none;
}

#unlockwidgets-off {
	display: none;
}

/* Enable AMD AMF */
#amf1 {
	display: none;
}

#amf-on {
	display: none;
}

/* Responsive CSS */
@media screen and (max-width: 1280px) {
	#cpugovernor1 {
		right: 15px;
	}

	#cpugovernor2 {
		right: 15px;
	}

	#selectnav1 {
		right: 15px;
	}

	#selectnav2 {
		right: 15px;
	}

	/* CSS kscreen */
	li#kscreen {
		width: 260px;
	}

	/* CSS reverse prime */
	li#reverse-prime {
		width: 260px;
	}

	.kscreen-desc {
		left: 14px;
	}
}