/* menu CSS */
#pop-up-nv {
	display: none;
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.50);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
	opacity: 1;
	animation-name: example;
	animation-duration: .5s;
    z-index: 30000;
}

#pop-up-hw {
	display: none;
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.50);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
	opacity: 1;
	animation-name: example;
	animation-duration: .5s;
    z-index: 30000;
}

@keyframes example {
  from {opacity: 0.5;}
  to {opacity: 1;}
}

#pop-up:hover {
opacity: 1;
}

#box-pop-up {
	position: relative;
    width: 400px;
    height: 180px;
    background-color: #1d2329;
	margin: auto;
	margin-top: 80px;
	padding: 10px 15px 15px 15px;
	box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.3);
}

#box-pop-up h3 {
    text-align: center;
	font-weight: 300;
	width: 100%;
    top: 0px;
    margin: auto;
	margin-bottom: 15px;
}

#button-close {
	cursor: pointer;
	float: right;
    width: 17px;
    height: 17px;
	margin-top: 7px;
}

.pop-up-ok {
    position: absolute;
    right: 0;
	bottom: 0;
	cursor: pointer;
    margin-bottom: 15px;
    margin-right: 15px;
	background: #2a2d32;
	text-align: center;
    width: 30px;
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    transition: all .3s;
}

.pop-up-ok:active {
	background: #333840;
	box-shadow: 0 0px 0px rgba(0,0,0,.15);
	transition: all .2s;
}
