@font-face {
	font-family: "Oxygen";
	font-display: block;
	font-style: normal;
	font-weight: normal;
	src: url('../css/fonts/oxygen/Oxygen-Regular.ttf') format('truetype');
}

body {
	background: #1b1e20;
	font-family: Oxygen;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.3;
	color: #eff0f1;
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#loadscreen {
	display: block;
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #1b1e20;
	z-index: 40000;
	animation-name: initEffect;
	animation-duration: 1.2s;
}

@keyframes initEffect {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/* pages css */
#settings {
	display: auto;
}

#system {
	display: auto;
}

#reverse-prime {
	display: none;
}

select {
	width: 120px;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1b1e20;
	border-left: 1px solid #2a2e32;
}

/* Handle */
::-webkit-scrollbar-thumb {
	transition: all .3s;
	background: #383e42;
	border-radius: 2em;
	border: 6px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2383b5;
	border-radius: 2em;
	border: 6px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

#title {
	display: block;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

#title p {
	display: block;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 4px;
	margin-left: 8px;
}

.all-apps {
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.text-all-apps {
	display: none;
	margin-right: 45px;
}

a {
	color: #3daee9;
	cursor: pointer;
	text-decoration: underline;
}

b {
	font-weight: bold;
}

ul {
	padding-left: 0px;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.main-ul {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	box-sizing: border-box;
	width: 100%;
	animation-name: animatebottom;
	animation-duration: .5s;
}

.div2-performance .main-ul {
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

li {
	display: block;
	position: relative;
	width: auto;
	height: 80px;
	list-style: none;
	text-align: left;
	box-sizing: border-box;
	background-color: #2a2e32;
	background-position: center;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1;
	animation-name: display-element;
	animation-duration: 1s;
}

li:hover,
li.button-effect:hover {
	background: #373e46 radial-gradient(circle, transparent 1%, #373e46 1%) center/15000% !important;
}

li.button-effect:active {
	background-color: #2a2e32 !important;
	background-size: 100% !important;
	transition: all 0s !important;
}

li.fake-item {
	display: none;
	background-color: #2a2e32;
	box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
}

li.libox {
	opacity: 1;
	animation-name: opacity;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

li:hover {
	background: #2a2e32;
}

/* Add more apps to the list */
li#add-external-apps {
	cursor: pointer;
	width: auto;
	height: 80px;
	background-color: #2a2e32;
	background-position: center;
	border-radius: 8px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

li#add-external-apps:hover {
	background: #2a2e32 radial-gradient(circle, transparent 1%, #2a2e32 1%) center/15000%;
}

li#add-external-apps:active {
	background-color: #23272c;
	background-size: 100%;
	transition: all .3s;
}

li.li-performance {
	display: inline-block;
	position: relative;
	width: auto;
	height: 350px;
	list-style: none;
	float: left;
	background: #2a2e32;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border-radius: 8px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	animation-name: animatebottom;
	animation-duration: .5s;
}

.div-for-label {
	width: 249px;
	height: 40px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
}

/* Input CSS */
input[type='file'] {
	display: none;
}

label.label-add {
	cursor: pointer;
}

/* Description of option blocks */
.desc-option-blocks {
	position: absolute;
	top: 40px;
	font-size: 14px;
	font-weight: 500;
	color: #eff0f1;
	margin-top: 3px;
}

/* remove external apps buttom */
.remove-app-buttom {
	position: absolute;
	top: 8px;
	width: 15px;
	height: 15px;
	right: 6px;
	cursor: pointer;
	background-image: url('../images/close.png');
	background-repeat: no-repeat;
	background-size: 14px 14px;
}

/* All CSS buttom click */
#buttom-click {
	cursor: pointer;
}

li#buttom-click:active {
	background: #2a2e32;
	box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
	transition: all .3s;
}

.kscreen-desc {
	position: absolute;
	top: 40px;
	left: 20px;
	font-size: 13px;
	font-weight: 600;
	color: #adabab;
	margin-top: 3px;
}

.info-item {
	position: absolute;
	top: 40px;
	left: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #eff0f1;
	max-width: 31ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 3px;
}

/* CSS nvidia-driver */
#use-nvidia-click {
	cursor: pointer;
}

li#use-nvidia-click:active {
	background: #2a2e32;
	box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
	transition: all .3s;
}

#separator1 {
	height: 40px;
	margin-bottom: 130px;
	background: transparent;
	box-shadow: none;
}

/* switch bottom css */
.switch__container {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

.all-apps .switch__container {
	height: 0;
	margin-top: 0px;
	float: right;
}

/*.main-ul .switch__container {
	position: absolute;
	right: 30px;
}*/

.show-switch {
	display: inline-block !important;
}

.switch {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.switch+label {
	display: block;
	position: absolute;
	cursor: pointer;
	outline: none;
	user-select: none;
}

.apps-buttons .switch+label {
	display: none;
}

/* end switch bottom css */
p {
	color: #eff0f1;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0px;
	padding-left: 0px;
}

.text-app {
	display: block;
	font-size: 17px;
	text-align: left;
	font-weight: 300;
	line-height: 1.2;
	color: #eff0f1;
	margin-top: 0px;
	margin-bottom: 0px;
}

.text-app1 {
	font-size: 17px;
	text-align: left;
	font-weight: 300;
	line-height: 1.2;
	margin-top: 0px;
	margin-bottom: 0px;
}

.text-app2 {
	display: none;
	font-size: 17px;
	text-align: left;
	font-weight: 300;
	line-height: 1.2;
	margin-top: 0px;
	margin-bottom: 0px;
}

.icon-app {
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.p-menu {
	color: #343638;
	margin-top: 4px;
	font-size: 18px;
}

.icon-menu {
	display: inline-block;
	float: left;
	height: 22px;
	width: 22px;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-top: 2px;
}

.button-apps {
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	min-width: 20px;
	position: relative;
	padding-bottom: 0px;
}

.button-performance {
	margin-left: auto;
	margin-right: auto;
	width: 99px;
	min-width: 20px;
	position: relative;
	padding-bottom: 0px;
}

.button-system {
	margin-left: auto;
	margin-right: auto;
	width: 99px;
	min-width: 20px;
	position: relative;
	padding-bottom: 0px;
}

.div1 {
	background: #1b1e20;
	width: 95%;
	max-width: 1400px;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 20px;
	opacity: 1;
	animation-name: display-element;
	animation-duration: 1.5s;
	margin-left: auto;
	margin-right: auto;
}

@keyframes display-element {
	from {
		opacity: 0.2;
	}

	to {
		opacity: 1;
	}
}

.hdiv1 {
	color: #eff0f1;
	font-size: 20px;
	font-weight: 300;
	margin: 0px;
}

.pdiv1 {
	color: #eff0f1;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0px;
}

.p1-settings {
	color: #eff0f1;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0px;
	max-width: 1000px
}

.p1-performance {
	color: #eff0f1;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0px;
	max-width: 1000px
}

.p1-system {
	color: #eff0f1;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0px;
	max-width: 1000px
}

.main-div {
	display: block;
	transition: all ease .3s;
	width: 100%;
}

.div2 {
	position: relative;
	width: 95%;
	max-width: 1400px;
	animation-name: animatebottom;
	animation-duration: .5s;
	margin-left: auto;
	margin-right: auto;
}

#div3 {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #1b1e20;
	margin-left: auto;
	margin-right: auto;
}

/* menu CSS */
#pop-up {
	display: none;
	float: left;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.411);
	position: fixed;
	top: 0px;
	opacity: 1;
	animation-name: popup;
	animation-duration: .1s;
	z-index: 30000;
}

#pop-up:hover {
	opacity: 1;
}

#box-pop-up {
	position: relative;
	top: 20%;
	width: 450px;
	height: auto;
	background-color: #373e46;
	box-shadow: rgb(0 0 0 / 44%) 0px 0px 10px;
	border-radius: 8px;
	margin: auto;
	box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.3);
	opacity: 1;
	animation-name: popup;
	animation-duration: .1s;
}

.popup-title-box {
	background-color: #2a2e32;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 15px;
	box-shadow: rgb(25 27 29 / 84%) 0px 1px 2px 0px;
}

.div-test {
	width: 400px;
	height: auto;
	padding: 20px 0px;
	margin-left: auto;
	margin-right: auto;
}

.div-test ul {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 0px;
}

.test-dgpu {
	width: auto;
	height: auto;
	cursor: pointer;
	text-align: center;
	background-color: #434b54;
	background-position: center;
	border-radius: 8px;
	border-radius: 2em;
	padding: 12px 0px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	animation-name: none;
}

.test-dgpu:hover {
	background: #4e5864 radial-gradient(circle, transparent 1%, #4e5864 1%) center/15000% !important;
}

.test-dgpu:active {
	background-color: #434b54 !important;
	background-size: 100% !important;
	transition: all 0s !important;
}

#box-pop-up h3 {
	text-align: center;
	font-weight: 300;
	color: #eff0f1;
	width: 100%;
	top: 0px;
	margin: auto;
	margin-bottom: 10px;
}

.popup-desc-settings {
	width: 360px;
	color: #eff0f1;
	margin-left: auto;
	margin-right: auto;
}

#button-close {
	cursor: pointer;
	float: right;
	width: 17px;
	height: 17px;
	margin-top: 3px;
}

@keyframes popup {
	from {
		opacity: .5;
	}

	to {
		opacity: 1;
	}
}

#copy-all {
	float: right;
	margin-right: 0px;
	cursor: pointer;
}

#copy-all-img {
	float: left;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	margin-top: 1px;
	margin-right: 4px;
}

#copy-all-txt {
	float: left;
	margin-left: 3px;
}

.show-element {
	display: block !important;
}

.button-settings {
	position: absolute;
	background-color: #434b54;
	background-position: center;
	color: #fff;
	font-family: Oxygen;
	margin-top: 10px;
	right: 20px;
	top: 6px;
	width: auto;
	font-size: 15px;
	cursor: pointer;
	border: none;
	border-radius: 2em;
	padding: 10px 18px;
	box-shadow: 0 0 2px rgb(0 0 0 / 40%);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.button-settings:hover {
	background: #4e5864 radial-gradient(circle, transparent 1%, #4e5864 1%) center/15000%;
}

.button-settings:active {
	background-color: #434b54;
	background-size: 100%;
	transition: all 0s;
}

.context-menu {
	display: none;
	position: relative;
	top: -30px;
	left: 10px;
	float: right;
	width: auto;
	height: auto;
	padding: 10px 0px;
	z-index: 1000;
	border-radius: 8px;
	cursor: auto;
	background-color: #383e4291;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: rgb(0 0 0 / 44%) 0px 0px 10px;
	transition: all .3s;
}

.context-menu div {
	padding: 12px 20px;
	transition: all .3s;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	transition: all .3s;
}

.division-options {
	cursor: auto !important;
	margin: 10px 10px !important;
	padding: 0 !important;
	border-bottom: 2px solid #4e555c;
}

.context-menu div:focus,
.context-menu div:hover {
	background-color: #4e5864;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

@keyframes animatebottom {
	from {
		bottom: -30px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

/* responsive CSS */
@media screen and (max-width: 1250px) {
	.main-ul {
		grid-template-columns: repeat(3, 1fr);
	}

	.div2-performance .main-ul {
		grid-template-columns: repeat(4, 1fr);
	}

	.div-for-label {
		width: 209px;
	}
}

@media screen and (max-width: 1100px) {
	.div2-performance .main-ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 950px) {
	.main-ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.div2-performance .main-ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 650px) {
	.main-ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.div2-performance .main-ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.main-div {
		min-width: 301px;
	}

	.div2-performance .main-ul {
		grid-template-columns: repeat(1, 1fr);
	}
}