@font-face{
    font-family: "Oxygen";
    src: url('fonts/Oxygen.otf') format('truetype');
}

body{
    font-family: Oxygen;
    font-weight: 300;
	background-color: #171a21;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: #0085e4;
    cursor: pointer;
    text-decoration: underline;
}

.div-iframe {
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    margin-left: 230px;
}

.iframe {
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
	width: calc(100% - 230px);
	top:0px;
	left:0px;
	right:0px;
    bottom:0px;
}

.iframe::-webkit-scrollbar {
    display: none;
}

.sidebar {
    display: block;
    position: fixed;
    background-color: #2a2f35;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    padding: 0px 0px 14px 0px;
    user-select: none;
    float: left;
    z-index: 30000;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(8, 13, 18, 0.34);
    -moz-box-shadow: 0px 0px 3px 0px rgba(8, 13, 18, 0.34);
    box-shadow: 0px 0px 3px 0px rgba(8, 13, 18, 0.34);
}

.ul-sidebar {
    padding-left: 0px;
}

.sidebar .ul-sidebar li {
    cursor: pointer;
    background-color: #2a2f35;
    color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
	width: 0px;
    margin-top: 0px;
	margin-left: 0px;
    margin-bottom: 0px;
	padding-top: 18px;
	padding-bottom: 18px;
}

/*
.sidebar ul li:hover {
    background-color: #242424;
    color: #d2d5da;
}
*/

.li-sidebar-b {
    display: none;
    bottom: 0;
    width: 20px;
	animation-name: example;
	animation-duration: 2s;
}

.li-sidebar-uninstalling {
    display: none;
    bottom: 0;
    width: 20px;
	animation-name: example;
	animation-duration: 2s;
}

.link-items {
    display: flex;
    flex-direction: row;
    align-items: center;
	height: 26px;
    font-size: 18px;
	text-decoration: none;
	color: #f3f3f3 !important;
    border-left: 4px solid #2a2d32;
    transition: all 0.3s ease-in-out;
	padding-top: 2px;
    padding-left: 8px;
	padding-bottom: 2px;
}

.sidebar .ul-sidebar li:hover {
    background-color: #373e46;
    color: #d2d5da;
}

.sidebar .ul-sidebar li:hover .link-items {
    border-left: 4px solid #0085e4 !important;
}

.link-items:hover {
    border-left: 4px solid #0085e4 !important;
}

.link-items p {
    color: #d2d5da !important;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.fas {
    margin-right: 5px;
    font-size: 22px;
}

.fas-margin {
    margin-right: 5px;
    font-size: 22px;
}

.icones-menu {
    display: inline-block;
    padding-right: 5px;
    left: -8px;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hide-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 25px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 11px;
    margin-left: 12px;
}

.hide-sidebar img {
    padding: 10px;
    border-radius: 5px;
    transition: all ease .3s;
}

.show-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 25px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 11px;
}

.show-sidebar img {
    padding: 10px;
    border-radius: 5px;
    transition: all ease .3s;
}

/* Display content when everything is ready */
#loadscreen {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	z-index: 40000;
}
