[Unit]
Description=Capture usage of Intel GPUs when available
Before=display-manager.service

[Service]
ExecStart=/opt/regataos-prime/scripts/intel-gpu-usage

[Install]
WantedBy=graphical.target
