[Unit]
Description=Check and apply cpu governor configuration
Before=display-manager.service

[Service]
ExecStart=/opt/regataos-prime/scripts/set-configs-on-boot

[Install]
WantedBy=graphical.target
