[Desktop Entry]
Name=Info for Prime Settings
GenericName=Info for Prime Settings
Comment=Info for Prime Settings
Exec=sleep 5; /bin/bash /opt/regataos-prime/scripts/detect-system-info.sh & sudo /opt/regataos-prime/scripts/system-info.sh
Terminal=false
NoDisplay=true
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
